*{
    box-sizing: border-box;
}

/* Background */
.container-fluid{
    background-image: url(./images/ship-2275399.jpg);
    background-size: cover;
    height:auto;
}


    body {
        display: flex;
        flex-direction: column; 
        justify-content: left; 
        align-items: left; 
        min-height: 100vh; 
     
      }
      
h2{
    color: rgb(117, 0, 128);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    justify-content: left


}
button{
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 50px;
    color: rgb(228, 80, 221);

}

button:hover {
    background-color: rgb(143, 27, 128);
}
h1{
    color: black;
    font-weight: bold;
    font-size: 50px;
}

form{
    font-size: 25px;
    font-weight: bold;

}
